<div class="menu-lateral">
      <div class="logo">
        <svg _ngcontent-jxc-c11="" id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678"><g _ngcontent-jxc-c11="" id="Group_83" data-name="Group 83" transform="translate(-141 -696)"><circle _ngcontent-jxc-c11="" id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"></circle><g _ngcontent-jxc-c11="" id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)"><path _ngcontent-jxc-c11="" id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#fff"></path><path _ngcontent-jxc-c11="" id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#fff"></path></g></g></svg>
      </div>
      <div class="menu-principal">
        <li>
          <a [routerLink]="['../todo']" routerLinkActive="active">
          <div class="icono-menu"><i class="fas fa-tasks"></i></div>
          <div class="sprite_text">Tareas</div>
          </a>
        </li>
      </div>
    </div>

    <!-- Contenido secciones -->
    <div class="container-fluid contenido">

      <!-- Encabezado -->
      <div class="row encabezado">
        <div class="col-md-9">

        </div>
        <div class="col-md-3">
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex float-right">
            <li *ngIf="false"class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle mr-md-2 icono-notificaciones nueva-notificacion" [routerLink]="[]" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-calendar-alt"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                <a class="dropdown-item" [routerLink]="[]">Lista de eventos proximos</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle mr-md-2" (click)="logout()" [routerLink]="[]" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cerrar Sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
      <app-todo></app-todo>
    </div>
