@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Roboto:100,300,400,500,700,900');

body {
    background-color: #edf0f6;
    font-family: 'roboto', sans-serif;
    color: #3a3c40;
}

a {
    transition: all 0.3s ease;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

label {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #3a3c40 !important;
    margin-bottom: 3px;
}

.logo-login {
    margin-bottom: 30px;
    margin-left: calc(50% - 175px);
}

.btn {
    transition: all 0.2s ease;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 0px;
    position: relative;
}

.btn-primary {
    font-weight: 500;
    background-color: #e70441 !important;
    box-shadow: 0px 4px 12px -3px rgba(175, 8, 47, 0.5) !important;
}

.btn-primary:hover {
    background-color: #fd386c !important;
    box-shadow: 0px 4px 12px -3px rgba(175, 8, 47, 0.5) !important;
}

.btn-form {
    width: 100%;
    margin-top: 15px;
}

.error-msg {
    border: 0px solid;
    padding: 8px 15px;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.bg-danger {
    background-color: #a7071dbf!important;
}

.log-user {
    padding-left: 40px;
    background-image: url(../../assets/img/icon_user1.png);
    background-repeat: no-repeat;
    background-position: 12px center;
}

.log-user:focus {
    background-image: url(../../assets/img/icon_user2.png);
}

.form-control {
    padding-top: 5px;
    min-height: 42px;
    font-size: 13px;
    position: relative;
    border: 1px solid transparent;
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

.form-control:hover {
    border: 1px solid #9ba0a9;
}

.form-control:focus {
    border: 1px solid #E70441;
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.3);
}

.login-cuadro {
    /*background-color: #fff;*/
    margin-top: 20%;
    border-radius: 3px;
    /*box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);*/
    transition: all 0.2s ease;
    position: relative;
    padding: 30px;
}

.login-box-header img{
    width: 273px;
}

.login-element{
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}

.error-msg{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

label{
    color: white;
}
