/* You can add global styles to this file, and also import other style files
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Roboto:100,300,400,500,700,900');

.login-body{
    background-color: #edf0f6;
    font-family: 'roboto', sans-serif;
    color: #3a3c40;
}

.all-body{
    background-color: #edf0f6;
    font-family: 'roboto', sans-serif;
    color: #3a3c40;
}

#uploadPreviewParent > img {
    width:100%;
}

.modal{
    overflow-y: auto !important;
}

body {
    background-color: #edf0f6;
    font-family: 'roboto', sans-serif;
    color: #3a3c40;
}

a {
    transition: all 0.3s ease;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.tarjeta {
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    margin-bottom: 20px;
}

.card {
    border: 0px solid;
}

.card-header {
    background-color: #F6F7FB;
    padding: 4px 20px;
    border-radius: 3px 3px 0px 0px;
}

.overflow-1 {
    height: 300px;
    overflow-y: auto;
}

.opacity5 {
    opacity: 0.5;
}

/*===================================================
FORMULARIOS Y BOTONES
===================================================*/


.custom-control.custom-checkbox {
    margin-bottom: 4px;
}

.custom-checkbox label {
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.custom-control-label::before {
    top: .35rem;
    top: .35rem;
    width: 20px;
    height: 20px;
    border-radius: 3px !important;
}

.custom-control-label::after {
    top: .35rem;
    top: .35rem;
    width: 20px;
    height: 20px;
    border-radius: 3px !important;
}

.custom-control.custom-checkbox:hover .custom-control-label::before  {
    border: 2px solid #b3b9c1;
}

.custom-control.custom-checkbox:hover label  {
    /*color: #e70441;*/
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #e70441 !important;
}

.switch {
  font-size: 1rem;
  position: relative;
}

.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}

.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: 25px;
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}

.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
  content: 'No';
  color: #0000004d;
  line-height: 25px;
}
.switch input + label::after {
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #e70441;
  content: 'Sí';
  color: #000;
}
.switch input:checked + label::after {
  margin-left: 25px;
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}

.switch input + label::before{
    display: -webkit-inline-box !important;
}

fieldset {
    border: 1px solid #00000017;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

fieldset p {
    font-size: 12px;
}

legend {
    display: inline-block;
    width: inherit;
    padding: 0px 5px;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: -5px;
    margin-bottom: 0px;
    color: #0000008f;
}

button#sidebarCollapse {
    position: absolute;
    bottom: 0px;
    border-radius: 0px;
    width: 100%;
    background-color: #f6f7fb;
    color: #b2b7c1;
    transition: all 0.2s ease;
    outline: none !important;
    box-shadow: none !important;
}

button#sidebarCollapse:hover {
    background-color: #E70441;
    color: #fff;
}

.dropdown-menu {
    box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.2);
    border: 0px solid;
}

.dropdown-item {
    font-size: 13px;
    color: #3a3c40;
    transition: all 0s ease;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e70441;
}

.form-control {
    padding-top: 5px;
    min-height: 42px;
    font-size: 13px;
    position: relative;
    border: 1px solid transparent;
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
}

.form-control:hover {
    border: 1px solid #9ba0a9;
}

.form-control:focus {
    border: 1px solid #E70441;
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.3);
}

.form-control::-moz-placeholder {
  color: #a4a9b3;
}
.form-control:-ms-input-placeholder {
  color: #a4a9b3;
}
.form-control::-webkit-input-placeholder {
  color: #a4a9b3;
}

.form-control.small {
    padding-top: 5px;
    min-height: 30px;
    font-size: 13px;
    position: relative;
    border: 1px solid transparent;
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
}

.form-group {
    margin-bottom: 5px !important;
}

.input-buscador {
    padding-left: 40px;
    min-height: 42px;
    width: 40px;
    font-size: 13px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.4s ease;
    background-color: #33404c14;
    background-repeat: no-repeat;
    background-position: right 11px center;
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.0);
}

.input-buscador:hover {
    border: 1px solid #33404c14;
    background-color: #fff;
    cursor: pointer;
}

.input-buscador:focus {
    cursor: text;
    padding-left: 10px;
    outline: none;
    width: 100%;
    border: 1px solid #E70441;
    background-color: #fff;
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
}

.dropdown label {
    position: absolute;
    top: -20px;
}

.dropdown-toggle::after {
    margin-left: 15px;
}

.btn-blanco.dropdown-toggle:hover, .btn-blanco.dropdown-toggle:active, .btn-blanco.dropdown-toggle:focus {
    color: #E70441;
    box-shadow: inset 0 0 0 1px #E70441, 0px 4px 12px -3px rgb(213, 217, 224) !important;
}

.btn-blanco.dropdown-toggle {
    width: 200px;
    padding-left: 15px;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    height: 42px;
    text-align: left;
    transition: all 0.2s ease;
    box-shadow: inset 0 0 0 1px transparent, 0px 4px 12px -3px rgb(213, 217, 224) !important;
}

.filtros-drop .dropdown-menu.show {
    width: 100%;
}

.btn-blanco.dropdown-toggle::after {
    float: right;
    margin-top: 8px;
}

tr#filter_global td {
    padding: 0px;
}

.tabla-invisible .chosen-container-multi .chosen-choices {
    border: 0px solid !important;
    background-color: #edf0f6 !important;
    font-size: 12px;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    display: inline-block;
    float: right;
    box-shadow: none !important;
}

.tabla-invisible .chosen-container-multi .chosen-choices:hover {
    background-color: #e2e6ec !important;
    border: 0px solid !important;
}

.tabla-invisible .chosen-container-multi .chosen-choices .search-field {
    max-width: 90px;
}

.tabla-invisible .chosen-container .chosen-drop {
    font-size: 12px;
    border: 1px solid #E70441;
}

.tabla-invisible .chosen-container-multi .chosen-choices .search-choice {
    background-color: #fff;
    font-size: 12px;
    padding: .35rem 1.5rem .35rem .4rem;
}

/*chosen general*********/

.chosen-container-multi .chosen-choices {
    /*padding-top: 5px;*/
    /*height: 42px !important;*/
    margin-top: 1px !important;
    font-size: 13px;
    position: relative;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
}

.chosen-container-multi .chosen-choices:hover {
    border: 1px solid #9ba0a9 !important;
}

.chosen-container .chosen-drop {
    font-size: 12px;
    border: 1px solid #E70441 !important;
}

.chosen-container-multi .chosen-choices .search-choice {
    background-color: #fff;
    font-size: 12px;
    padding: .35rem 1.5rem .35rem .4rem;
}

.tabla-invisible .chosen-container-multi .chosen-choices .search-choice {
    background-color: #fff;
    font-size: 12px;
    padding: .35rem 1.5rem .35rem .4rem;
}

.btn {
    transition: all 0.2s ease;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 0px;
    position: relative;
}

.btn-small {
    font-size: 12px;
    padding: 6px 12px;
}

.btn-small i {
    margin-right: 5px;
}

.btn-icono.btn {
    padding-left: 55px;
}

.btn-icono i {
    display: block;
    position: absolute;
    width: 40px;
    height: 41px;
    background-color: #00000012;
    padding-top: 13px;
    top: 0;
    left: 0;
    border-radius: 3px 0px 0px 3px;
}

.btn-primary {
    font-weight: 500;
    background-color: #e70441 !important;
    box-shadow: 0px 4px 12px -3px rgba(175, 8, 47, 0.5) !important;
}

.btn-primary:hover {
    background-color: #fd386c !important;
    box-shadow: 0px 4px 12px -3px rgba(175, 8, 47, 0.5) !important;
}

.btn-primary:active {
    background-color: #e70441 !important;
    box-shadow: 0px 2px 12px -3px rgba(175, 8, 47, 0.5) !important;
}

.btn-primary:focus {
    box-shadow: 0px 4px 12px -3px rgba(175, 8, 47, 0.5) !important;
}

.btn-secondary {
    background-color: #dadee4;
    color: #6a6e75;
    box-shadow: 0px 4px 12px -3px rgb(213, 217, 224) !important;
}

.btn-secondary:hover {
    background-color: #ced2d8 !important;
    color: #6a6e75;
    box-shadow: 0px 4px 12px -3px rgb(213, 217, 224) !important;
}

.btn-secondary:active {
    background-color: #ced2d8 !important;
    color: #6a6e75;
    box-shadow: 0px 4px 12px -3px rgb(213, 217, 224) !important;
}

.btn-secondary:focus {
    box-shadow: 0px 4px 12px -3px rgb(213, 217, 224) !important;
    color: #6a6e75;
}

.btn-blanco {
    background-color: #fff;
    color: #6a6e75;
    box-shadow: 0px 4px 12px -3px rgb(213, 217, 224) !important;
}

.btn-blanco:hover {
    color: #6a6e75;
    box-shadow: 0px 4px 12px -3px rgb(213, 217, 224) !important;
}

.btn-blanco:active {
    color: #6a6e75;
    box-shadow: 0px 4px 12px -3px rgb(213, 217, 224) !important;
}

.btn-blanco:focus {
    box-shadow: 0px 4px 12px -3px rgb(213, 217, 224) !important;
    color: #6a6e75;
}

.btn-tickets-anteriores {
    color: #E70441;
    width: 100%;
    background-color: transparent;
    font-size: 12px !important;
    font-weight: 600;
    margin-bottom: 15px;
    /* box-shadow: 0px 4px 12px -3px rgba(8, 52, 175, 0.5); */
}

.btn-tickets-anteriores:hover {
    background-color: #00000008;
}

.btn-tickets-anteriores:focus {
    box-shadow: 0px 4px 12px -3px rgba(8, 52, 175, 0);
}

.btn-volver {
    border: 1px solid #3a3c403b;
    color: #3a3c40;
    width: 50px;
    height: 50px;
    line-height: 48px !important;
    padding-left: 18px;
    border-radius: 50%;
    margin-right: 12px;
    transition: all 0.2s ease;
}

.btn-volver:hover {
    border: 1px solid #E70441;
    background-color: #fff;
    color: #E70441;
    padding-left: 12px;
}

/*
.dropdown-menu::before {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
    width: 0px;
    position: absolute;
    top: -16px;
    right: 19px;
}
*/

a.chosen-single.chosen-default, .chosen-container-single .chosen-single {
    padding-top: 6px;
    padding-left: 12px;
    min-height: 40px;
    font-size: 13px;
    position: relative;
    border: 1px solid transparent;
    margin-top: 1px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

a.chosen-single.chosen-default:hover, .chosen-container-single .chosen-single:hover {
    border: 1px solid #9ba0a9;
}

.chosen-container-single .chosen-single div b {
    width: 90%;
}


/*===================================================
ALERTAS
===================================================*/

.alert {
    padding: .5rem 1rem;
    font-size: 14px;
    margin-top: 5px;
}

.alert-danger {
    color: #b93b51;
    background-color: #f5d1d6;
    border-color: transparent;
}


/*===================================================
MODALES COMUNES
===================================================*/

.modal-backend .modal-header .close {
    top: 29px;
}

.modal-backend .modal-header {
    padding: 0.8rem 2rem;
}

.modal-content {
    border: 0px;
    box-shadow: 0px 8px 20px 2px rgba(0,0,0,0.1);
}

.modal-title {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color: #3a3c40;
}

.modal-body {
    background-color: #EDF0F6;
    padding: 1rem 2rem;
}

.modal-body p, .modal-body ul {
    font-size: 13px;
}

.modal-img {
    max-width: 1200px !important;
}

.modal-body-image {
    background-color: #32343a;
    text-align: center;
 }

 .modal-body-image img{
     max-width: 100%;
 }

.modal-backend h4 {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #3a3c40;
    margin-bottom: 14px;
    border-bottom: 1px solid #d8dce2;
    padding-bottom: 6px;
    margin-top: 10px;
}

.modal-backend h4 i {
    color: #b3b8c1;
    margin-right: 4px;
    font-size: 16px;
    width: 20px;
    vertical-align: middle;
}

.modal-md {
    max-width: 600px !important;
}

.modal-xl {
    min-width: 80% !important;
}

label {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #3a3c40;
    margin-bottom: 3px;
}


/*===================================================
MENU LATERAL
===================================================*/


.menu-lateral {
    display: block;
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #FFF;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.07);
    z-index: 10;
    transition: all 0.2s ease;
}

.menu-lateral.menu-lateral-chico {
    width: 70px;
}

.logo {
    text-align: center;
    padding: 22px 15px;
    overflow: hidden;
}

.menu-lateral-chico .logo {
    text-align: center;
    padding: 15px 0px;
    overflow: hidden;
    width: 100%;
    height: 65px;
    margin-bottom: 15px;
}

.menu-lateral-chico .logo img {
    margin-left: -10px;
    width: 90px;
}

.menu-principal ul {
    padding: 0px;
    list-style: none !important;
}

.menu-principal ul li {
    padding: 0px;
    list-style: none !important;
    overflow: hidden;
    transition: all 0.2s ease;
    background-color: #fff;
}

.menu-lateral-chico .menu-principal ul li {
    width: 70px;
    transition: all 0.2s ease;
}

.menu-lateral-chico .menu-principal ul li a .sprite_text  {
    opacity: 0;
}

.menu-lateral-chico .menu-principal ul li a:hover .sprite_text  {
    opacity: 1;
}

.menu-principal ul li:hover {
    width: 200px;
    background-color: #f6f7fb;
    border-radius: 0px;
}

.menu-lateral-chico .menu-principal ul li:hover {
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 4px 15px -3px rgba(0,0,0,0.2);
}

.menu-principal ul li a {
    width: 200px;
    height: 54px;
    display: block;
    padding: 10px 0px;
    position: relative;
}

.menu-principal ul li a.active::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #e70441;
    border-radius: 10px 0px 0px 10px;
    width: 6px;
    height: 34px;
    right: 0px;
    top: 10px;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 10px -3px rgba(175, 8, 47, 0.9);
}

.menu-lateral-chico .menu-principal ul li a.active::after {
    right: 130px;
}

.menu-lateral-chico .menu-principal ul li:hover a.active::after {
    right: 0px;
}

.menu-principal ul li a:hover .icono-menu {
    color: #e70441;
}

.menu-principal ul li a:hover .sprite_text {
    color: #e70441;
}

.icono-menu {
    background-color: rgba(0, 0, 0, 0.07058823529411765);
    height: 34px;
    width: 34px;
    display: block;
    border-radius: 50%;
    float: left;
    margin-left: 18px;
    transition: all 0.2s ease;
    padding-top: 5px;
    text-align: center;
    color: #b2b7c1;
}

.active .icono-menu {
    background-color: #e70441;
    color: #fff !important;
    box-shadow: 0px 4px 14px -3px rgba(175, 8, 47, 0.5);
}

.sprite_text {
    font-size: 12px;
    color: #b2b7c1;
    font-weight: 500;
    width: calc(100% - 52px);
    height: 34px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    line-height: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.active .sprite_text {
    color: #3a3c40;
    font-weight: 700;
}


/*===================================================
CONTENEDOR CONTENIDO
===================================================*/


.contenido {
    margin-left: 200px;
    width: calc(100% - 200px);

    padding: 0px 40px;
    transition: all 0.2s ease;
}

 .contenido.contenido-chico {
    margin-left: 70px;
    width: calc(100% - 70px);
    max-width: 1530px;
    padding: 0px 40px;
 }


/*===================================================
ENCABEZADO Y MENU DE USUARIO
===================================================*/


.encabezado {
    height: 112px;
    padding-top: 22px;
    padding-bottom: 18px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 18px;
}

.encabezado .dropdown-toggle::after {
    display: none;
}

.encabezado h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-top: 12px;
}

.encabezado .nav-link i {
    color: #b2b7c1;
    font-size: 19px;
    transition: all 0.2s ease;
}

.encabezado .nav-link:hover i {
    color: #0373E6;
}

.icono-notificaciones {
    width: 34px;
    height: 34px;
    position: relative;
    border-radius: 50%;
    margin-top: .5rem;
    text-align: center;
    padding-top: 7px;
    transition: all 0.2s ease;
}

.icono-notificaciones:hover {
    background-color: #e1e4e8;
}

.nueva-notificacion::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #e70441;
    border-radius: 50%;
    border: 2px solid #edf0f6;
    width: 10px;
    height: 10px;
    right: 3px;
    top: 5px;
}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-left: 10px;
}

.icono-modulo {
    margin-right: 12px;
    border-radius: 5px;
    box-shadow: 0px 4px 14px -3px rgba(175, 8, 47, 0.5);
 }

 .dropdown-menu.notificaciones-drop {
    width: 420px;
    top: 8px !important;
    right: -140px !important;
    padding-bottom: 0px;
    /*left: inherit !important;*/
}

.dropdown-menu.notificaciones-drop::before {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom: 8px solid #f8f9fc;
    width: 0px;
    position: absolute;
    top: -16px;
    right: 9px;
}

.notif-nueva {
    background-color: #f9f7e1;
 }

.notificaciones-drop a {
    padding: 6px 12px;
    height: 48px;
    border-top: 1px solid #edf0f6;
}

.notificaciones-drop a:hover {
    color: inherit;
    text-decoration: none;
    background-color: #edf0f6;
}

.notificaciones-drop a i {
    display: block;
    width: 16px;
    color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    padding-left: 1px;
    float: left;
}

.notificaciones-scroll {
    max-height: 384px;
    overflow-y: auto;
}

.notif-comentar i {
    background-color: #0373E6;
}

.notif-rechazar i {
    background-color: #D81138;
}

.notif-aprobar i {
    background-color: #52B814;
}

.notif-crear i {
    background-color: #e70462;
}

.notif-ayuda i {
    background-color: #D81138;
}

.notif-tiempo i {
    background-color: #E4AD05;
}

.notif-adjudicar i {
    background-color: #7546c1;
}

.notif-terminar i {
    background-color: #0373E6;
}

.notificacion-texto {
    width: calc(100% - 40px);
    float: left;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notificacion-texto p {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: -2px;
    display: block;
    width: 100%;
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notificacion-texto span {
    color: #1521385c;
    font-size: 11px;
    line-height: 10px;
}

.drop-titulo {
    padding: 5px 12px;
    background-color: #f8f9fc;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #989a9e;
    margin-top: -8px;
    border-radius: 8px 8px 0px 0px;
}

 .dropdown-menu.usuario-drop {
    width: 180px;
    /*left: inherit !important;*/
}

.dropdown-menu.usuario-drop::before {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
    width: 0px;
    position: absolute;
    top: -16px;
    right: 19px;
}

.usuario-drop a {
    padding: 6px 17px;
}

.usuario-drop a:hover {
    color: inherit;
    text-decoration: none;
    background-color: #edf0f6;
}

.usuario-drop a i {
    display: block;
    color: #97989a;
    border-radius: 50%;
    font-size: 16px;
    padding-top: 1px;
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}




/*===================================================
SUBMENU O NAVEGACIÓN SECUNDARIA
===================================================*/


.submenu {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.submenu a {
    color: #b2b7c1;
    position: relative;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submenu .nav-tabs {
    border: 0px solid;
    margin-left: -15px;
}

.submenu .nav-tabs .nav-link {
    border: 0px solid;
    box-shadow: none;
}

.submenu .nav-tabs .nav-link:hover {
    color: #767b86;
}

.submenu .nav-tabs .nav-link:active {
    border: 0px solid;
    box-shadow: none;
}

.submenu .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border: 0px solid;
    color: #e70441 !important;
}

.submenu .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% - 2rem);
    height: 2px;
    background-color: #e70441;
    margin-top: 8px;
    box-shadow: 0px 4px 10px -3px rgba(175, 8, 47, 0.2);
}

.submenu .badge-light {
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
    background-color: #dee1e6;
    color: #9a9ea5;
    min-width: 18px;
    padding: 3px;
    display: inline-block;
}



/*===================================================
FILTROS Y ACCIONES
===================================================*/


.filtros-acciones {
    margin: 30px -15px;
}

.filtros-acciones h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 12px;
}

.filtros-acciones h1 i {
    color: #3a3c403b;
    margin-right: 10px;
}


/*===================================================
TICKETS DE SOPORTE
===================================================*/

.tickets {
    padding: 0px;
    list-style: none;
}

.new-ticket {
    background-color: #f9f7e1 !important;
}

.ticket {
    background-color: #fff;
    margin: 8px 0px;
    border-radius: 3px;
    height: 58px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);
    border-left: 8px solid;
    transition: all 0.2s ease;
    position: relative;
}

.ticket:hover {
    /*cursor: pointer;*/
}

.ticket .col-md-5:hover {
    cursor: pointer;
    color: #DD0032;
}

.ticket .col-md-5:hover .ticket-colegio, .ticket .col-md-5:hover .ticket-categoria, .ticket .col-md-5:hover .ticket-rol, .ticket .col-md-5:hover .ticket-rbd {
    color: #DD0032;
}

.ticket .col-md-5::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    border: 6px solid transparent;
    border-left: 10px solid transparent;
    left: -35px;
    top: 20px;
    transition: all 0.2s ease;
}

.ticket .col-md-5:hover::before {
    border-left: 10px solid #B2B7C1;
    left: -25px;
}

.ticket-lvl-urgente {
    border-color: #DD0032 !important;
}

.ticket-lvl-medio {
    border-color: #F7B307 !important;
}

.ticket-lvl-bajo {
    border-color: #2296b9 !important;
}

.ticket .col-md-6 {
    padding: 0px;
}

.ticket-col {
    display: table-cell;
    height: 58px;
    vertical-align: middle;
    float: left;
    padding: 0px 18px;
}

.ticket-col.col-dark {
    background-color: #4a62a90d;
}

.ticket-colegio {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 0px;
    padding-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ticket-rbd {
    font-size: 12px;
    color: #9398a0;
    margin: 0px;
    line-height: 12px;
}

.ticket-rbd i {
    opacity: 0.5;
    margin-right: 5px;
}

.ticket-categoria {
    font-size: 12px;
    color: #9398a0;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    height: 58px;
    line-height: 13px;
    text-align: center;
}

.ticket-modulo {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0px;
    padding-top: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ticket-rol {
    font-size: 12px;
    color: #9398a0;
    margin: 0px;
    line-height: 12px;
}

.ticket-problema {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    line-height: 13px;
    color: #9398a0;
    margin: 0px;
    height: 48px;
    max-width: 300px;
    padding-top: 10px;
}

.container-problema {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.fechas{
    font-size: 12px;
    color: #9398a0;
}

.fechas-icono{
    margin-right: 5px;
}

.ticket-comentarios {
    font-size: 12px;
    color: #9398a0;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    height: 58px;
    width: 23px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 20px;
    position: relative;
}

.nuevo-comentario::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #e70441;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    right: -5px;
    top: 16px;
}

.ticket-user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 14px;
    margin-left: -5px;
    margin-right: -5px;
    transition: all 0.2s ease;
}

.ticket-user-avatar:hover {
    /*box-shadow: 0px 0px 0px 2px rgb(231, 4, 65);*/
}

.ticket-drop {
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    border: 0px solid;
    height: 58px;
    width: 100% !important;
    display: block;
}

.ticket-drop.nav-tabs .nav-link {
    border: 0px solid !important;
    height: 58px;
    vertical-align: middle;
    display: table-cell;
    color: #9398a0;
    width: 130px;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 11px;
    cursor: pointer;
}

.ticket-drop.nav-tabs .nav-link:hover {
    color: #E70441;
}

.ticket-drop.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
}


.ticket-drop .dropdown-toggle::after {
    margin-bottom: -1px;
    margin-left: 5px;
}

.ticket-drop.nav-tabs .dropdown-menu {
    width: 130px !important;
    min-width: 130px !important;
    padding: 6px 8px;
    border-radius: 0px;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.3);
    background-color: #fff;
}

/* ----FLECHITA DROPDOWN
.ticket-drop.nav-tabs .dropdown-menu::before {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
    width: 0px;
    position: absolute;
    top: -16px;
    right: calc(50% - 9px);
}
*/

.ticket-drop .dropdown-item {
    width: 100%;
    color: #fff;
    padding: 3px 0px;
    text-align: center;
    height: 40px;
    font-size: 12px;
}

.ticket-drop .dropdown-item:hover {
   background-color: #fff;
}

.ticket-drop .dropdown-item p {
    color: #fff;
    margin: 0px;
    display: block;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.ticket-drop .dropdown-item p:hover {
    opacity: 0.7;
}

.ticket-estado-0 {
    width: calc(100% - 18px) !important;
    padding-top: 14px;
    margin-left: 9px;
    display: block !important;
    height: 40px !important;
    margin-top: 9px !important;
    border-radius: 3px !important;
    background-color: #7546c1 !important;
    color: #fff !important;
}



.ticket-estado-0:hover, .ticket-estado-1:hover, .ticket-estado-2:hover, .ticket-estado-3:hover, .ticket-estado-4:hover, .ticket-estado-5:hover {
    opacity: 0.8;
}

.ticket-estado-02 {
    background-color: #0000001c !important;
    color: #fff !important;
}

.ticket-estado-1 {
    background-color: #E4AD05 !important;
    color: #fff !important;
}

.ticket-estado-2 {
    background-color: #D81138 !important;
    color: #fff !important;
}

.ticket-estado-3 {
    background-color: #0373E6 !important;
    color: #fff !important;
}

.ticket-estado-4 {
    background-color: #52B814 !important;
    color: #fff !important;
}

.ticket-estado-5 {
    background-color: #D81138 !important;
    color: #fff !important;
}

.ticket-tiempo {
    font-size: 12px;
    text-align: center;
    color: #9398a0;
    margin: 0px;
    vertical-align: middle;
    padding-top: 20px;
    height: 58px;
}

.ticket-tiempo i {
    font-size: 14px;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: 0px;
    color: #dbdee5;
}

.ticket-tiempo-alerta, .ticket-tiempo-alerta i {
    color: #E70441;
 }

.tickets-header .ticket-col {
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #8c929c;
    height: 15px;
}

app-date-time-picker {
    width: 100%;
    height: 58px;
    display: block;
}

app-date-time-picker .fa-clock {
    font-size: 14px;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: 0px;
    color: #dbdee5;
}

span.ticket-tiempo-hora {
    font-weight: 400;
    color: #9398a0;
}

p.definir {
    font-weight: 400;
    padding-top: 20px;
}

.indicador-adjunto {
    display: block;
    background-color: #00000000;
    color: #41444c4f;
    font-size: 14px;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    padding-top: 3px;
    bottom: 24px;
    right: 10px;
    /* box-shadow: 0px 2px 4px rgba(0,0,0,0.2); */
}


/*===================================================
MODAL PANEL LATERAL
===================================================*/

/* MODAL FADE LEFT RIGHT BOTTOM */

.fade {
    transition: opacity .15s linear;
}

.modal-backdrop.show {
    opacity: .5;
    background-color: #60656d;
}


.modal.right .modal-dialog {
    position: absolute;
    top: 0 !important;
    right: -600px;
    margin: 0;
    max-width: 600px;
    width: 600px;
    transition: all .35s ease !important;
}

.modal.right.show .modal-dialog {
    top: 0px !important;
    right: 0px !important;
}

.modal.right.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,0) !important;
    transform: translate(0,0) !important;
}

.modal.right .modal-content {
    border-radius: 0px;
    background-color: #EDF0F6;
    box-shadow: -3px 0px 25px 5px rgba(86, 94, 109, 0.12);
}

.modal.left .modal-dialog {
    position:absolute;
    top:0;
    left:0;
    margin:0;
}

.modal.left .modal-content, .modal.right .modal-content {
    min-height:100vh;
    border:0;
}

.modal-header button.close {
    position: absolute;
    right: 35px;
    top: 35px;
    display: block;
    background-color: #edf0f6;
    border-radius: 50%;
    padding: 0px;
    width: 32px;
    height: 32px;
    font-size: 12px;
    color: #84878e;
    text-shadow: none;
    opacity: 1;
    transition: all 0.2s ease;
}

.modal-header button.close:hover {
    background-color: #E70441;
    color: #fff;
}

/* Contenido ticket-panel*/

.right .modal-header {
    border-bottom: 0px;
    border-left: 10px solid;
    border-radius: 0px;
    position: relative;
    display: block;
    padding: 25px 20px;
    background-color: #fff;
}

.ticket-panel .modal-body {
    padding: 15px 30px;
}

.ticket-panel .ticket-colegio {
    width: 100%;
    font-size: 20px;
    padding-top: 0px;
    width: 100%;
    display: block;
}

.ticket-panel .ticket-rbd {
    font-size: 14px;
    margin-top: 4px;
}

.ticket-panel h4 {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #3a3c40;
    margin-bottom: 14px;
}

.ticket-panel h4 i {
    color: #b3b8c1;
    margin-right: 4px;
    font-size: 16px;
    width: 20px;
    vertical-align: middle;
}

.ticket-panel p {
    font-size: 13px;
}

.ticket-seccion {
    margin-bottom: 30px;
}

.ticket-adjuntos {
    width: 100%;
    min-height: 80px;
    background-color: #b3b8c12e;
    border-radius: 3px;
    padding: 15px;
    position: relative;
}

.label-avatar {
    padding: 0px;
    font-size: 10px !important;
    color: #8c929c;
    line-height: 10px;
    margin: 4px 0px 1px 0px;
}

.nombre-avatar {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px !important;
    line-height: 10px;
    font-weight: 700;
    color: #3a3c40;
    text-transform: capitalize;
    margin-bottom: 6px;
}

.ticket-panel .ticket-user-avatar {
    margin: 0px;
}

.user-identidad {
    padding-left: 35px;
}

.user-identidad .ticket-user-avatar {
    position: absolute;
    top: 0px;
    left: 10px;
}

.ticket-clasificacion {
    padding: 7px 0px 9px 0px;
    border-top: 1px solid #e2e6ed;
    border-bottom: 1px solid #e2e6ed;
    margin-top: -1px !important;
}

.ticket-archivo-adj-frame {
    float: left;
    width: 120px;
    height: 70px;
    margin: 2px 6px;
    box-shadow: 0px 0px 0px 1px #b3b8c1;
    transition: all 0.2s ease;
    position: relative;
}

.ticket-archivo-adj-frame:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px #E70441;
}

.ticket-archivo-adj {
    width: 120px;
    height: 70px;
}

.adj-hover {
    opacity: 0;
    transition: all 0.2s ease;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    padding-top: 19px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.adj-hover:hover {
    opacity: 1;
    padding-top: 0px;
}


.btn-imagen {
    color: #fff;
    opacity:0.5;
    transition: all 0s ease;
    background-color: transparent;
    padding: 0px;
    width: 100%;
    height: 100%;
    float: left;
    box-shadow: none !important;
}

.btn-imagen:hover {
    opacity: 1;
}

.btn-imagen p {
    font-size: 10px;
    margin: 0px;
}

.btn-imagen-cerrar {
    background-color: #e70441;
    color: #fff;
    padding: 0px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: +1;
}

.btn-imagen-cerrar:hover {
    background-color: #fd2b63;
}

.ticket-comentar {
    margin-bottom: 12px !important;
}

.ticket-comentar .form-group {
    width: calc(100% - 45px);
    margin-left: 45px;
}

.ticket-comentar .ticket-user-avatar {
    position: absolute;
    margin: 0px !important;
}

.new-comentario {
    background-color: #f1e3a1 !important;
}

.new-comentario.comentario-globo::before {
    border-bottom: 14px solid #f1e3a1;
}

.comentario-globo {
    display: block;
    width: calc(100% - 45px);
    margin-left: 45px;
    background-color: #e2e6ed;
    padding: 10px 12px;
    border-radius: 4px;
    position: relative;
}

.comentario-globo::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: 14px solid transparent;
    border-bottom: 14px solid #e2e6ed;
    transform: rotate(45deg);
    position: absolute;
    left: -5px;
    top: -3px;
}

.comentario-globo span {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 11px;
    color: #a1a6af;
}

.comentario-globo p {
    margin-bottom: 0px;
    margin-top: 2px;
    line-height: 15px;
}

.comentario-globo .nombre-avatar {
    margin-top: 0px;
}

.ticket-comentar .form-group {
    position: relative;
}

.btn-comentario {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 11px;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color: #b3b8c1;
    padding: 4px 8px;
    background-color: #fff;
}

.btn-comentario:hover {
    color: #E70441;
    background-color: #EDF0F6;
}

.btn-comentario:focus {
    box-shadow: none;
}

.btn-comentario i {
    margin-right: 6px;
    font-size: 12px;
}


.btn-adjuntar {
    position: absolute;
    bottom: 7px;
    right: 23px;
    font-size: 11px;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color: #b3b8c1;
    padding: 5px 7px;
    background-color: #fff;
}

.btn-adjuntar i {
    font-size: 15px;
}

.btn-adjuntar:hover {
    color: #E70441;
    background-color: #EDF0F6;
}

.custom-file-input::before {
    content: 'Elegir archivos';
    margin-top: -10px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #007eff !important;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
    box-shadow: 0px 8px 8px -3px rgba(61, 71, 97, 0.1);
}

.ticket-adjuntos label {
    position: absolute;
    top: -20px;
    left: 0px;
}

.ticket-cambios {
    height: 40px;
}

.ticket-cambios ul {
    margin: 0px;
    padding: 5px 0px;
    list-style: none;
}

.ticket-cambios ul li {
    display: block;
    float: left;
    position: relative;
    z-index: 1;
}

.ticket-cambios ul li span {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #C1C4D1;
    border: 2px solid #EDF0F6;
    margin-right: 20px;
    transition: all 0.2s ease;
}

.ticket-cambios ul li span:hover {
    transform: scale(1.2);
    background-color: #E70441;
    cursor: pointer;
}

.ticket-cambios ul li.active span {
    transform: scale(1.2);
    background-color: #E70441;
}

.ticket-cambios ul li:last-child span {
    margin-right: 0px !important;
}

.ticket-cambios ul li:before {
    content: '';
    display: block;
    background-color: #c1c4d1;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 5px;
    z-index: -1;
}

.alerta-cambio::after {
    content: '!';
    color: #fff;
    background-color: #e70441;
    display: inline-block;
    height: 12px;
    width: 12px;
    font-size: 8px;
    font-weight: 600;
    padding: 2px 4px;
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
    line-height: 8px;
}

/*===================================================
SCROLL BAR
===================================================*/


.style-scroll::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}

.style-scroll::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: transparent;
}

.style-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 6px;
  background-color: #cfd2da;
  transition: all 0.2s ease;
}

.style-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #8f929a;
}

/*===================================================
INFO CLIENTE
===================================================*/


.cliente-collapse {
    background: transparent;
    border: 0px;
    text-align: left;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none !important;
    transition: all 0.2s ease;
}

.cliente-collapse:hover p {
    color: #E70441 !important;
}

.cliente-collapse:hover img {
    box-shadow: 0px 0px 0px 2px rgb(231, 4, 65);
}

.cliente-globo {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 15px;
    margin-top: 10px;
    position: relative;
}

.cliente-globo::after {
    content: '';
    border: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    display: block;
    width: 0px;
    position: absolute;
    top: -14px;
    left: 7px;
}

.cliente-globo .label-avatar {
    margin-top: 8px;
}


/*===================================================
TICKETS ANTERIORES
===================================================*/


.tickets-anteriores-frame {
    /*border: 2px solid #dce0e6;
    background-color: #dce0e6;*/
    border-radius: 3px;
    margin-bottom: 25px;
}

.tickets-anteriores-frame:hover {
    /*border: 2px solid #E70441;*/
}

.tickets-anteriores-frame i {
    margin-right: 4px;
}

.tickets-anteriores-globo {
    background-color: #dce0e6;
    height: 250px;
    border-radius: 3px;
    padding: 0px;
    position: relative;
}

.tickets-anteriores-globo .nav-item {
    width: 50%;
    text-align: center;
}

.tickets-anteriores-globo .nav-item button {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px 0px;
    border: 0px solid;
    background: transparent;
    font-size: 13px;
    color: #b3b8c1;
    outline: none !important;
    transition: all 0.2s ease;
}

.tickets-anteriores-globo .nav-item button:hover {
    color: #82868e;
}

.tickets-anteriores-globo .nav-item.show .nav-link, .tickets-anteriores-globo .nav-tabs .nav-link.active::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(50%);
    height: 2px;
    background-color: #e70441;
    margin-top: 8px;
    box-shadow: 0px 4px 10px -3px rgba(175, 8, 47, 0.2);
}

.tickets-anteriores-scroll {
    height: 211px;
    overflow-y: auto;
}

.tickets-anteriores-globo .nav-tabs {
    background-color: #fff;
    border-radius: 3px 3px 0px 0px;
}

.mini-ticket {
    border-bottom: 1px solid #cfd2da;
    margin: 0px;
}

.mini-ticket:hover {
    cursor: pointer;
    background-color: #ffffff40;
}

.mini-ticket-estado {
    display: inline-block;
    font-size: 10px;
    padding: 1px 8px;
    border-radius: 20px;
    float: right;
    margin-top: 20px;
}

.mini-ticket .fechas {
    font-size: 11px;
    color: #9398a0;
    line-height: 14px;
}

.mini-ticket .fechas i {
    margin-right: 5px;
    width: 15px;
    text-align: center;
}

.mini-ticket .columnita {
    float: left;
    position: relative;
}

.mini-ticket .ticket-categoria {
    font-size: 11px;
    width: 90px;
}

.mini-ticket .ticket-rol {
    font-size: 11px;
    color: #9398a0;
    margin: 0px;
    line-height: 12px;
}

button.tickets-nueva-pestaña {
    position: absolute;
    bottom: -17px;
    font-size: 10px;
    width: 100%;
    border: 0px solid;
    background-color: #edf0f6;
    color: #e70441;
    transition: all 0.2s ease;
    outline: none;
}

button.tickets-nueva-pestaña:hover {
    background-color: #fff;
    color: #e70441;
    cursor: pointer;
}



/*===================================================
TOOLTIPS
===================================================*/

.tooltip {
    font-size: 11px;
    text-transform: capitalize;
    font-family: 'roboto', sans-serif;
    transition: opacity 0.1s ease;
}


.tooltip {
    max-width: 530px !important;
}

.tooltip-inner {
    max-width: 530px !important;
}


/*===================================================
MONITOREO
===================================================*/

.tarjeta-header {
    display: block;
    background-color: #F6F7FB;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 20px;
    font-size: 13px;
    font-family: 'montserrat', sans-serif;
}

.tarjeta-body {
    padding: 20px;
}

.dataTables_wrapper .dataTables_filter {
    display: none;
}

/*===================================================
CONFIGURACIÓN ESTABLECIMIENTOS
===================================================*/

/*.config-title::before {
    content: 'Configuración';
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    top: 1px;
    opacity: 0.4;
}*/

.firma-digital {
    width: 100%;
    background-color: #dee2e6;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}

.firma-digital img {
    max-width: 120px;
    margin: 10px 0px;
}

.firma-digital .btn-grupo, .logos-informes .btn-grupo {
    position: absolute;
    top: calc(50% - 15px);
    width: 100%;
    opacity: 0;
}

.firma-digital:hover .btn-grupo, .logos-informes:hover .btn-grupo {
    opacity: 0.8;
}

.logos-informes {
    width: 100%;
    background-color: #dee2e6;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}

.logos-informes img {
    width: 90px;
    height: 90px;
    margin: 10px 0px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 95px;
    min-height: 95px;
    margin-bottom: 12px;
    animation: spin .8s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*===================================================
RECURSOS HUMANOS RRHH
===================================================*/


.tarjeta-rrhh {
    text-align: center;
    padding: 22px 15px;
    width: 250px;
    float: left;
    margin-left: 15px;
}

.user-rrhh {
    border-radius: 50%;
    width: 80px;
    box-shadow: 0px 0px 0px 3px #00000014;
    border: 2px solid #fff;
    transition: all 0.2s ease;
}

.tarjeta-rrhh:hover .user-rrhh {
    box-shadow: 0px 0px 0px 3px #E70441;
}

.tarjeta-rrhh h4 {
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 4px;
}

.tarjeta-rrhh h6 {
    font-family: 'montserrat', sans-serif;
    font-size: 11px;
    color: #858a94;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
}

.tarjeta-rrhh a {
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 4px;
}

.tarjeta-rrhh p {
    font-family: 'montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 4px;
    color: #41454e;
}

.tarjeta-rrhh p i {
    margin-right: 5px;
}

.categoria-rrhh {
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #0000000f;
}

.badge {
    font-size: 10px;
    font-weight: 400;
    line-height: 8px;
    padding: 3px 5px;
    border-radius: 10px;
    margin-right: 2px;
}

.badge-gris {
    background-color: #0000001a;
    color: #727884;
}

.badge-azul {
    background-color: #0373E6;
    color: #fff;
}

.rrhh-user-avatar {
    border-radius: 50%;
    margin-right: 8px;
    width: 30px;
    vertical-align: middle;
    float: left;
}



/*===================================================
PANEL DETALLE ESTABLECIMIENTO
===================================================*/


.detalle-header {
    border-left: 0px solid !important;
}

.detalle-header h3 {
    font-size: 20px;
    padding-top: 0px;
    width: 100%;
    display: block;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detalle-mapa {
    margin: -15px -30px;
    margin-bottom: -6px;
}

.detalle-estab-info {
    /*background-color: #fff;*/
    /*padding: 10px 30px;*/
    /*border-radius: 3px;*/
    /*margin: 0px -30px;*/
}

.detalle-estab-info i {
    display: block;
    background-color: #dddee6;
    color: #9fa2ad;
    text-align: center;
    font-size: 14px;
    padding-top: 7px;
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.detalle-estab-info p {
    padding-left: 34px;
}

.detalle-estab-graph {
    /*border-top: 1px solid #d9dee5;*/
    padding: 10px 0px;
    font-size: 12px;
}

.detalle-estab-graph h5 {
    font-family: 'montserrat', sans-serif;
    font-size: 28px;
    margin: 0px;
    line-height: 28px;
}

.detalle-estab-title {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid #d9dee5;
    margin-bottom: 15px;
    padding-bottom: 3px;
}

/*===================================================
CAMBIOS 11 ENERO
===================================================*/

.tarjeta-ambito {
    background-color: #2666a51a;
    border: 1px solid #a4adc1;
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
    margin-bottom: 16px;
}

.tarjeta-ambito .tarjeta-ambito {
    background-color: #e6d9ee;
    border: 1px solid #c1a4bb;
}

.tx-rojo {
    color: #dc0000;
}

.tx-amarillo {
    color: #e0a905;
}

.tx-lima {
    color: #b3dc02;
}

.tx-verde {
    color: #1ccc44;
}

.tx-50 {
    opacity: 0.5;
}

.tx-25 {
    opacity: 0.25;
}

/*===================================================
PROGRESS BAR, BARRA DE PROGRESO
===================================================*/

.progress-chico {
    background-color: #4d576b1f;
    width: calc(100% - 80px);
    height: 10px;
    border-radius: 12px;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

.progress-bg-1 {
    background-color: #1ccc44;
}

.progress-bg-2 {
    background-color: #b3dc02;
}

.progress-bg-3 {
    background-color: #e0a905;
}

.progress-bg-4 {
    background-color: #dc0000;
}


/*===================================================
CAMBIOS 25 ENERO
===================================================*/

.w-50px {
    width: 50px;
}

.w-100px {
    width: 100px;
}

.w-150px {
    width: 150px;
}

.w-200px {
    width: 200px;
}

.w-250px {
    width: 250px;
}

.w-300px {
    width: 300px;
}

.chosen-container-single .chosen-drop {
    margin-top: -42px;
    border-radius: 3px;
    background-clip: padding-box;
    box-shadow: inset 0 0 0 1px transparent, 0px 4px 12px -3px rgb(213, 217, 224) !important;
}

.chosen-container-single .chosen-search {
    height: 42px;
    padding: 0px;
}

.chosen-container-single .chosen-search input[type="text"] {
    border: 0px solid;
    border-bottom: 1px solid #edf0f6;
    border-radius: 0px;
    height: 42px;
    background-color: transparent;
}

.chosen-container .chosen-results {
    padding-top: 0px;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #e70441;
}

.chosen-container .chosen-results li.result-selected {
    position: relative;
}

.chosen-container .chosen-results li.result-selected:before {
    position: absolute;
    right: 4px;
    top: 3px;
}

.chosen-container .chosen-results li {
    padding: 4px 16px;
}

.chosen-container-single .chosen-single div:after {
    background-image: none;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    float: right;
    margin-top: 14px;
}

.tx-rojo {
    color: #dc0000;
}

.tx-amarillo {
    color: #e0a905;
}

.tx-lima {
    color: #b3dc02;
}

.tx-verde {
    color: #1ccc44;
}

.tx-50 {
    opacity: 0.5;
}

.tx-25 {
    opacity: 0.25;
}

.tarjeta-body p {
    font-size: 12px;
    margin-bottom: 3px;
}


/*===================================================
CAMBIOS 28 ENERO
===================================================*/

.table-notas-pendientes tr td i {
    font-size: 16px;
}


/*===================================================
CAMBIOS 30 ENERO
===================================================*/

span.username {
    height: 30px;
    vertical-align: middle;
    display: table-cell;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 11px;
}

.cuadro-datos {
    padding: 20px;
    border: 1px solid #d8dce2;
    border-radius: 8px;
    margin: 10px 0px;
    margin-bottom: 25px;
    position: relative;
}

.cuadro-datos h1 {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #3a3c40;
    background-color: #edf0f6;
    display: inline-block;
    position: absolute;
    top: -9px;
    left: 10px;
    padding: 0px 6px;
}

.cuadro-datos h1 i {
    margin-right: 8px;
    color: #e70441;
}

.div-label {
    width: 150px;
    float: left;
}

.div-input {
    width: calc(100% - 150px);
    padding: 0px 15px;
    float: left;
}

.cuadro-datos .label {
    text-align: right !important;
    width: 150px;
    font-family: 'montserrat', sans-serif;
    font-size: 11px;
    line-height: 12px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
    height: 38px;
}

.input-group-text {
    padding: 10px 10px;
    background-color: #f7f9fb;
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
    font-size: 12px;
    line-height: 12px;
    height: 42px;
    min-width: 38px;
    border-radius: 3px 0px 0px 3px !important;
    text-align: center;
}


/*===================================================
CAMBIOS 6 FEBRERO
===================================================*/

.btn-small-icon {
    font-size: 16px;
    width: 30px;
    padding: 4px 6px;
}

.btn-small-icon i {
    margin: 0px;
}

.btn-round-icon {
    font-size: 16px;
    width: 40px;
    height: 40px;
    padding: 4px 6px;
    border-radius: 50%;
}

.cuadro-datos .label b {
    color: #e70441;
    margin-left: 2px;
}

.modal-header h5 i {
    color: rgb(199, 203, 212);
    margin-right: 8px;
    margin-left: -8px;
    font-size: 24px;
    display: block;
    float: left;
    padding-top: 3px;
}

.usuario_foto_perfil {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.sin-br{
  white-space: nowrap;
}

.sin-br br{
  display: none;
}



