<div class="row filtros-acciones">
  <div class="col-md-8">
    <h1><i class="fas fa-pen"></i>Editar Tareas</h1>
  </div>
  <div class="col-md-4">
    <div id="sticker" class="float-right">
      <button type="button"
      [disabled]="disabledButton"
      (click)="submitTodos()"
      class="btn btn-primary btn-icono float-right">
      <i class="fas fa-check" style="font-size: 16px;"></i>Guardar</button>
    </div>
  </div>
</div>

<!-- Contenidos -->
<form [formGroup]="form">
<div class="row mt-2">
  <div class="col-md-12">
      <fieldset>
        <legend>Colaboradores</legend>
        <div class="form-row">
          <div class="col-md-12">
            <table class="table table-lined table-hover">
              <thead>
                <tr>
                  <th scope="col" width="30px">N°</th>
                  <th scope="col" width="70px">Abbr</th>
                  <th scope="col" >Nombre</th>
                  <th scope="col"><button type="button" (click)="addColaboradores()" class="btn btn-secondary btn-small"><i class="fas fa-plus"></i> Agregar colaborador</button></th>
                </tr>
              </thead>
              <tbody formArrayName="colaboradoresArray">
                <tr *ngFor="let c of colaboradoresArray.controls; let i = index;" [formGroupName]="i">
                  <td>{{i+1}}.</td>
                  <td><input type="text" formControlName="abbr" class="form-control small" maxlength="2" placeholder="" value=""></td>
                  <td width="500px"><input type="text" formControlName="descripcion" class="form-control small" placeholder="" value=""></td>
                  <td width="60px" style="text-align: center;"><button class="btn btn-primary btn-small" (click)="deleteColaboradores(i)">X</button></td>
                  <td>
                    <div *ngIf="c.get('abbr').touched
                                && c.hasError('required', 'abbr')"
                                class="alert alert-danger">
                        Debe agregar las iniciales
                    </div>
                    <div *ngIf="c.get('descripcion').touched &&
                                c.hasError('required', 'descripcion')" class="alert alert-danger">
                        Debe ingresar el nombre
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </fieldset>
  </div>

  <div class="col-md-12">
      <fieldset>
        <legend>Tareas y subtareas</legend>
        <div class="row">
          <div class="col-md-12" formArrayName="tareas">
            <div class="card tarjeta" *ngFor="let t of tareas.controls; let i = index" [formGroupName]="i">
              <div class="card-header">
                <table class="table tabla-invisible">
                  <thead>
                    <tr>
                      <td width="40%"><input type="text"
                        class="form-control small"
                        placeholder="" formControlName="descripcion" value=""></td>
                      <td width="5%" style="text-align:center;">
                        <button (click)="confirmEliminar(i)"
                                class="btn btn-primary btn-small">
                                 X
                        </button>
                      </td>
                      <td width="10%"><button type="button" (click)="addSubtarea(t)" class="btn btn-secondary btn-small"><i class="fas fa-plus"></i> Agregar subtarea</button></td>
                      <td>
                          <div *ngIf="t.get('descripcion').touched &&
                          t.hasError('required', 'descripcion')" class="alert alert-danger">
                             Debe ingresar una descripción
                          </div>
                      </td>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="card-body">
                <table class="table tabla-invisible">
                  <thead>
                    <th>Descripcion</th>
                    <th>Prioritaria</th>
                    <th>Eliminar</th>
                    <th></th>
                  </thead>
                  <tbody formArrayName="subtareas">
                    <tr *ngFor="let d of t.get('subtareas')['controls']; let j = index" [formGroupName]="j">
                      <td ><input type="text" class="form-control small" placeholder="" formControlName="descripcion" value=""></td>
                      <td>
                        <div class="row"></div>
                          <span class="switch mr-4">
                            <input type="checkbox"  formControlName="open" class="switch" id="switch_{{i}}{{j}}">
                            <label for="switch_{{i}}{{j}}"></label>
                          </span>
                      </td>
                      <td><button (click)="deleteSubtarea(t, j)" class="btn btn-primary btn-small">X</button></td>
                      <td *ngIf="d.controls.descripcion.touched &&
                      d.hasError('required', 'descripcion')">
                          <div class="alert alert-danger">
                             Debe ingresar una descripción
                          </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <button (click)="addTarea()" type="button" class="btn btn-primary btn-small m-2"><i class="fas fa-plus"></i> Agregar Tarea</button>
          </div>
        </div>
      </fieldset>
  </div>
</div>
</form>

<swal
  #deleteSwal
  title="Eliminar Tarea"
  text="¿Está seguro que dese eliminar esta tarea y sus subtareas?"
  icon="warning"
  [showCancelButton]="true"
  confirmButtonText="Si"
  cancelButtonText="No"
  [focusCancel]="true"
  [reverseButtons]="true"
  (confirm)="deleteTarea()">
</swal>

<swal
  #successSwal
  text="Tareas ingresadas correctamente!"
  icon="success"
  [showConfirmButton]="true">
</swal>

